@CHARSET "UTF-8";

body {
	font-family: "Times New Roman";
	background: #fafafa;
	color: #eee;
}

.titre {
  font-family: "Times New Roman";
  font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

	background: #ed1c40;
	text-align: center;
 	color: #eee;
 	vertical-align:middle;

  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  border-radius:         20px;
}

.contenu {
  margin-top: 40px;
	margin-left: auto;
  margin-right: auto;
  width: 1200px;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	background: #DDD;

  padding: 10px;
  text-align: center;

  -moz-border-radius:    20px;
  -webkit-border-radius: 20px;
  border-radius:         20px;
}
